<!DOCTYPE html>
<html>
    <head>
        <title>Our Funky HTML Page</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
        <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h1>Ice Breaker Thing</h1>
        <h2 id = "share-link"></h2>
        <button onclick="startGame()"" id = "start-game">Start a Game</button>
        <form id = "guess-word" onsubmit = "submitGuess(); return false" action = "#" hidden>
            <input type="text" name="guess" id="guess-input">
            <input type="submit" value="Guess">
        </form>
        <div id = "guess-holder"></div>
        <script>
            function joinGame() {
                var url_string = window.location.href; //window.location.href
                var url = new URL(url_string);
                var c = url.searchParams.get("game_id");
                if (c !== null) {
                    window.game_id = c;
                    renderGame();
                }
            }
            function startGame() {
                $.get("start-game/", function( data ) {
                    window.game_id = JSON.parse(data).game_id;
                    console.log(window.game_id);
                    renderGame();
                });
            }
            
            function renderGame() {
                $("#start-game").hide();
                $("#share-link").text("Share this link with your friends! " + window.location.href + "?game_id=" + window.game_id + "");
                $("#guess-word").show();
                window.gameLoop = setInterval(updateGuesses, 200);
            }
            
            function submitGuess() {
                $.get("submit-guess/?guess=" + $("#guess-input").val().replace(" ", "_") + "&game_id=" + window.game_id, function( data ) {
                    var resp = JSON.parse(data);
                    if (resp["error"]) {
                        alert("Error: " + resp["error"]);
                    }
                });
            }
            function updateGuesses() {
                $.get("game-status/?game_id=" + window.game_id, function (data) { 
                    var resp = JSON.parse(data);
                    //console.log(resp)
                    if (resp["finished"]) {
                        $("#guess-word").append("<h3>Finished! The word was: " + resp["answer"] + "</h3>");
                        clearInterval(window.gameLoop);
                    }
                })
                if (typeof window.guesses == "undefined")
                    window.guesses = {"": ""};
                $.get("update-guesses/?game_id=" + window.game_id, function( data ) {
                    //console.log(data);
                    var guesses = JSON.parse(data);
                    for (let [key, value] of Object.entries(guesses)) {
                        if (Object.keys(window.guesses).includes(key) == false) {
                            window.guesses[key] = value;
                            //console.log("window.guesses: " + Object.keys(window.guesses))
                            $("#guess-holder").append("<div>" + key + ": " + value + "</div>");
                        }
                    }
                });
            }

            joinGame();
            
        </script>


    </body>
</html>

